.forgotContainer {
    height: 100%;
}

/* image css */
.imageBackground {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    position: absolute;
    z-index: 0;
}

/* button css */
#inputContainerForgot {
    z-index: 1;
    position: absolute;
    background-color: rgb(255, 245, 226);
    top: 20px;
    left: 30%;
    width: 40%;
    /* height: 90%; */
    border-radius: 20px;
}

#forgot {
    font-size: 25px;
    font-weight: 900;
    color: var(--text-color-blue);
}

.btnsContainerForgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 5px 0;
}

.iconImage {
    height: 17px;
    width: 18px;
    margin-bottom: 3px;
    margin-right: 7px;
}

.iconImageFb {
    height: 20px;
    width: 30px;
    margin-bottom: 3px;
    margin-right: 2px;
}

.buttonStyle {
    background-color: var(--background-white);
    height: 40px;
    width: 70%;
    border-radius: 30px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStyle:hover {
    background-color: var(--background-box-color);
    height: 40px;
    width: 70%;
    border-radius: 30px;
    margin: 5px 0;
}

.buttonText {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
}

/* horizontal line css */
.horContainerForgot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
}

.horLine {
    height: 1px;
    width: 31%;
    background-color: var(--background-gray);
}

#orText {
    color: var(--text-color);
    font-size: 15px;
    padding: 0 10px;
    margin-bottom: 3px;

}

/* input css */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

#filled-basic,
#filled-adornment-password {
    background-color: rgb(255, 255, 255);
}

/* forget password */
#forgetPass {
    width: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: -5px;
}

#forgetText {
    font-size: 16px;
    color: var(--text-blue);
    text-decoration: underline;
}

/* forgot button */
.loginButtonStyle {
    background-color: var(--background-lightBlue);
    border-width: 0;
    height: 40px;
    width: 70%;
    border-radius: 30px;
    margin: 5px 0;
}

.loginButtonStyle:hover {
    background-color: var(--background-blue);
    border-width: 0;
    height: 40px;
    width: 70%;
    border-radius: 30px;
    margin: 5px 0;
}

.loginButtonText {
    font-size: 15px;
    color: var(--text-white);
    font-weight: 600;
}

/* single horizontal line */
#horSingleLine {
    height: 1px;
    width: 71%;
    background-color: var(--background-gray);
}

/* sign up css */
#accountText {
    font-size: 16px;
    color: var(--text-blue);
    padding: 20px 0 10px 0;
}

@media only screen and (max-width: 800px) {
    #inputContainerForgot {
        z-index: 1;
        position: absolute;
        background-color: rgb(255, 245, 226);
        top: 30px;
        left: 10%;
        width: 80%;
        /* height: 90%; */
        border-radius: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    #inputContainerForgot {
        z-index: 1;
        position: absolute;
        background-color: rgb(255, 245, 226);
        top: 30px;
        left: 20%;
        width: 60%;
        /* height: 90%; */
        border-radius: 20px;
    }
}